.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat Subrayada", sans-serif;
}

.landing-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30%;
}

.landing-title {
	font-size: 4rem;
}

.landing-moto {
	margin-top: 20px;
	margin-bottom: 40px;
}

.landing-enter {
	text-decoration: none;
}
