.details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid goldenrod;
	margin: 10px;
	border-radius: 5px;
}

.comment-title {
	margin-left: 25px;
	margin-top: 15px;
}

.details {
	color: goldenrod;
	text-align: center;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	font-size: 0.2rem;
}

.info-drink {
	object-fit: fill;
	width: 250px;
	height: 300px;
	margin-top: 5px;
}

.comment-container {
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	color: goldenrod;
	margin: 25px;
	border-bottom: 0.5px solid goldenrod;
	width: 30vh;
}

.btn-div {
	display: flex;
	justify-content: flex-end;
}

.title-container {
	margin-bottom: 10px;
	border-bottom: 0.5px solid goldenrod;
}
@media (min-width: 800px) {
	.details-container {
		display: flex;
		flex-direction: row;
		margin: 20px 20px;
		border-radius: 5px;
	}

	.details {
		letter-spacing: 0.2rem;
		line-height: 2rem;
	}

	.text-area {
		text-align: left;
		line-height: 2rem;
		margin-top: 25px;
	}

	.info-drink {
		width: 450px;
		height: 600px;
		margin: 20px;
	}
	.comment-container {
		width: 100vh;
	}
}
