.card {
	text-align: center;
	max-width: 300px;
	position: relative;
	background-color: #36383b;
	color: #e0b751;
	margin: 30px;
}

.card-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}
